# services 配置。用于定义每个服务（即容器）的配置信息，包括服务名称、镜像、端口映射、环境变量等。
services:
  # Redis缓存数据库
  redis-service:
    # 指定容器名称（不推荐使用，容器扩容的时候不方便）如果不设置此参数，则由系统按照"项目名称-服务名称-序号"的格式自动生成
    # container_name: mysql_container
    # 容器使用到的镜像
    image: redis:7.2.3-alpine
    # 设置容器环境变量
    environment:  
      - TZ=Asia/Shanghai            # 设置容器时区与宿主机保持一致
    # 设置容器重启策略（always：总是重启，on-failure：失败时重启，never：从不重启）
    restart: always
    # 设置容器特权模式，用于访问宿主机的设备和网络
    privileged: true
    # 设置容器数据卷映射(宿主机目录:容器目录)
    volumes:
      - /e/DockerVolumes/redis/data:/data
      - /e/DockerVolumes/redis/conf/redis.conf:/etc/redis/redis.conf
    # 设置容器运行后的启动命令
    command: redis-server /etc/redis/redis.conf
    # 设置容器端口映射（宿主机端口:容器端口）
    ports:
      - "36379:6379"
    # 设置容器使用的网络
    networks:
      - shuyx_network

  # MySQL数据库
  mysql-service:
    image: mysql:8.0.20
    # 容器启动命令，设置utf8字符集
    environment:
      - MYSQL_ROOT_PASSWORD=123456                              # 设置 root 用户密码
      - TZ=Asia/Shanghai                                        # 添加时区配置
    volumes:
        - /e/DockerVolumes/mysql/conf.d:/etc/mysql/conf.d
        - /e/DockerVolumes/mysql/data:/var/lib/mysql
        - /e/DockerVolumes/mysql/log:/var/log/mysql
    ports:
      - "33306:3306"
    restart: always
    networks:
      - shuyx_network

  # Nacos服务注册中心
  nacos-service:
    environment:
        - MODE=standalone
        - TZ=Asia/Shanghai                                        # 添加时区配置
    ports:
        - 38848:8848
        - 39848:9848
        - 39849:9849
    volumes:
        - /e/DockerVolumes/nacos/logs:/home/nacos/logs  # 日志持久化
        - /e/DockerVolumes/nacos/data:/home/nacos/data  # 数据持久化
    image: nacos/nacos-server:v2.1.1-slim
    restart: always
    networks:
        - shuyx_network

  # MinIO对象存储
  minio-service:
    ports:
        - 39000:9000
        - 39001:9001
    volumes:
        - /e/DockerVolumes/minio/data:/data
    environment:
        - MINIO_ROOT_USER=minio
        - MINIO_ROOT_PASSWORD=minio123
    image: minio/minio:RELEASE.2024-03-10T02-53-48Z
    command: server /data --console-address ":9001"
    networks:
        - shuyx_network

  # 用户服务
  shuyx-user-service:
    # build 用于指定对应的Dockerfile文件路径。
    build: ./shuyx-user
    # image 用于指定对应的Dockerfile文件产生的容器镜像名称和标签。
    image: shuyx-user-service:v1.0
    ports: ["38081:38081"]
    environment:
      - TZ=Asia/Shanghai              # 添加时区配置
      # 容器与容器之间通信使用的是容器内端口而非宿主机映射端口。注意此处的配置会覆盖服务中的配置文件中的同名配置。
      - SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR=nacos-service:8848
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-service:3306/shuyx_db?useSSL=true&serverTimezone=GMT%2B8 # serverTimezone=GMT%2B8 东八区时间
      - SPRING_REDIS_HOST=redis-service
      - SPRING_REDIS_PORT=6379
    # 服务依赖关系，其他服务启动完成后才会启动
    depends_on: [nacos-service, mysql-service, redis-service, minio-service]
    networks:
        - shuyx_network

  # 媒体服务
  shuyx-media-service:
    build: ./shuyx-media
    image: shuyx-media-service:v1.0
    ports: [ "38070:38070" ]
    environment:
      - SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR=nacos-service:8848
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-service:3306/shuyx_db?useSSL=true&serverTimezone=GMT%2B8 # serverTimezone=GMT%2B8 东八区时间
      - SPRING_REDIS_HOST=redis-service
      - SPRING_REDIS_PORT=6379
    depends_on: [ nacos-service, mysql-service, redis-service, minio-service ]
    networks:
      - shuyx_network

  # 网关服务
  shuyx-gateway-service:
    build: ./shuyx-gateway
    image: shuyx-gateway-service:v1.0
    ports: [ "38080:38080" ]
    environment:
      - SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR=nacos-service:8848
    depends_on: [ nacos-service, mysql-service, redis-service, minio-service ]
    networks:
      - shuyx_network

  # 文件服务
  shuyx-file-service:
    build: ./shuyx-file
    image: shuyx-file-service:v1.0
    ports: ["38090:38090"]
    environment:
      - SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR=nacos-service:8848
      - MINIO_URL=http://minio-service:9000
    depends_on: [nacos-service, mysql-service, redis-service, minio-service]
    networks:
        - shuyx_network


# networks配置，用于设置docker网络
networks:
  shuyx_network:    # 创建一个名为shuyx_network的网络 
